
.modal-window {

 position: fixed; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .modal {
    width: 55rem;
    padding: 2em;
    background: #444444;
    position: relative;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
  }
  .modal-close {
    color: #dde6ef;
    font-size: 150%;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0.25rem 0.5rem;
  }
}

.modal-backdrop {
  position: fixed;
  background-color: rgba(56, 28, 28, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

.colorBlue {
  color: #0099cc;  
}

.paddingPageElement{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.formatPre{

 
  color: #f2ecec;
  
  font-family: monospace;
  font-size: 15px;
  /* line-height: 1.6; */
  margin-bottom: 1.6em;
  /* max-width: 100%; */

  /*padding: 1em 1.5em; */

  /* word-wrap: break-word;  */
}

/* Carousel */
/* .splide__slide img {
  width: 100%;
  height: 80%;
}   */

/* .sample-slider {
  width: 100%;
  margin: 0 auto;
} */
 /* .sample-slider img {
  width: 100%;
  height: 40%;
}  */

/* Change the frame color */
.sample-slider .splide__arrow {
  background: rgb(39, 39, 36);
}
/* Change the arrows color */
.sample-slider .splide__arrow svg {
  fill: #0099cc;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #1f1e1e; 
} 

.justifyCenter{
  display: flex !important;
  justify-content: center !important;
  
}

/* Make appear like console output */
.console {
  border: 1px solid #333;
  padding: 10px;
  background-color: #252526;
  overflow: auto;
  white-space: pre-wrap;
  color: white;
  font-family: monospace;
  padding: 20px;
}

.scrollable-code {
  max-height: 800px; /* Adjust the height as needed */
  overflow-y: auto;  /* Enable vertical scrollbar */
}

.hPadding{
  padding-top: 10px;
  padding-bottom: 10px;
}